/.cask
org-drill.html
/*.elc
/elpa
/makefile-local
/robot/Makefile
/robot/main-test-copy.org
/robot/failure.txt
/robot/messages.txt
/robot/main-test-copy.org~
/robot/main-test-interactive-copy.org
/robot/all-card-copy.org
/robot/basic-run-copy.org
/robot/leitner-run-copy.org
/robot/spanish-robot-copy.org
/robot/explainer-run-copy.org
